.vi-filter-bar {
    position: relative;

    margin-top:1em;
    margin-bottom:1em;

    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

    background-color: rgb(250, 250, 250);
}

.vi-filter-bar .vi-filter-btn{
    background-color: rgb(226, 226, 226);
    font-size:16px;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;

    margin:auto;
}
.vi-filter-bar table{
    border-spacing: 0px;
}
.vi-filter-bar .collapse-toggle{
    position: absolute;
    right: 8px;
    top: 6px;
}
.vi-filter-bar .collapse-toggle button{
    font-size: 12;
    background-color: #ffffff
}

.vi-filter-bar td{
    padding: 0px;
    padding-right: 0.3em;
}

.vi-filter-bar .mono{
    font-family: robotomono;
    font-size: 12px;
    margin-block-start: 1em;
    margin-block-end: 0.2em;
    font-family: consolas;
}

.vi-filter {
    padding-right:0.2em;

    border-collapse: separate;
    border: solid;
    border-width:1px;
    border-top-left-radius:      12px 12px;
    border-top-right-radius:    12px 12px;
    border-bottom-right-radius: 12px 12px;
    border-bottom-left-radius:  12px 12px;
    border-color: rgb(199, 199, 199);

    background-color: rgb(255, 255, 255);

    
}

.vi-filter button, .dropdown-item, .form-check-input{
    font-size:16px;
    cursor: pointer;
    padding: 4px;
    padding-left: 1em;
    padding-right: 0.5em;
    border: 0;
}

.vi-filter .vi-filter-delete-btn{
    cursor: pointer;
    margin:auto;
    margin-left: 1em;
    margin-right: 0.5em;
    vertical-align: baseline;
}

.vi-filter tr{
    background-color: inherit;
}

.vi-filter td{
    border-top: 0px;
    padding: 0px;
    text-align: center;  
}

.vi-filter .left{
    border-right: solid;
    border-right-width: 2px;
    border-right-color: #d3d3d3 ;
}

.vi-filter .vi-multi-filter .form-group {
    padding-left: 36px;
    
}

.vi-filter .form-check {
    padding: 4px;
}

.vi-filter .vi-search-filter input, .form-group {
    padding:0px;
    margin:0px;
    border: none;
    margin-left:0.4em;
}

.vi-filter .vi-date-filter input{
    border: none;
    padding: 0px;
    font-size:16px;
    margin-left:0.4em;
}

.vi-filter .vi-filter-value{
    display: block;
}

.vi-filter-bar .btn:focus {
    box-shadow: none;
}

.vi-filter-bar input:focus {
    box-shadow: none;
}


